<tr id="<%= dom_id question %>">
  <td class="name"><%= question.serial %></td>
  <div onclick= "buttClick()">再生</div>
  <%= audio_tag("soundpoem#{question.serial}.wav", id: 'btn_audio') %>
  <td class="operation"><%= question.number %></td>
  <%= link_to 'アンカーテキスト', controller: "questions", action: "next" %>
</tr>



<script>
function buttClick(){
  document.getElementById('btn_audio').currentTime = 0; //連続クリックに対応
  document.getElementById('btn_audio').play(); //クリックしたら音を再生
}
</script>